@{
    Layout = "_Layout";
}

@model Inventory.Models.Treat
<div class="headers">
    <h1>Add Flavor</h1>
</div>
<div class="treats">
    <h4>Add Some Flavor To: @Html.DisplayFor(model => model.TreatName)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.TreatId)

        <h4>Flavors: @Html.DropDownList("FlavorId")</h4>

        <input type="submit" value="Save" class="btn btn-primary" />
    }
</div>
<a href="https://www.youtube.com/watch?v=gSjM5B3QNlw" class="btn btn-success">Treat Yo Self</a>