@{
  Layout = "_Layout";
}

@using Inventory.Models
@model IEnumerable<Inventory.Models.Treat>;

<div class="headers">
@if (User.Identity.IsAuthenticated)
{
    <h1>Hello @User.Identity.Name!</h1>
    <h4>Click on a treat to see the details!</h4>
    <hr/>
    <hr/>
}
else
{
   <h1>Hello Guest!</h1> 
   <h4>Click on a treat to see details.</h4>
   <hr/>
}
</div>
<div class="treats">
@if (@Model.Any())
{
    @foreach (Treat treat in Model)
    {
        <h4>@Html.ActionLink($"{treat.TreatName}","Details", new { id = treat.TreatId})</h4><br>
    }
} 
else
{
    <h4>No treats have been added</h4>
}
<hr/>
</div>

<div class="flavors">
@if (User.Identity.IsAuthenticated)
{
    <h4>@Html.ActionLink("Add Treat", "Create",  null, null, new {@class="btn btn-primary"})</h4>
}
else 
{
    <hr/>
    <h4>Do you have treats you'd like to add?</h4> 
    <h4>Click <strong>Register</strong> to create an account or <strong>Log in</strong> to sign in at the top.</h4>
    <hr/>
}
</div>
<a href="https://www.youtube.com/watch?v=gSjM5B3QNlw" class="btn btn-success">Treat Yo Self</a>