@{
    Layout = "_Layout";
}

@using System.Security.Claims

<div class="headers">
<h1>Account</h1>
</div>
<hr/>
<div class="flavors">
@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome Back @User.Identity.Name!</h2>
    <hr/>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn logoutbtn" value="Log Out"/>
    }
}
</div>