@{
    Layout = "_Layout";
}

@using Inventory.ViewModels
@model LoginViewModel

<h1>Log In</h1>

@using (Html.BeginForm())
{
    <h2>Email: @Html.TextBoxFor(m => m.Email)</h2>
    <h2>Password: @Html.PasswordFor(m => m.Password)</h2>

    <input type="submit" value="Log In" class="btn btn-primary" />
}

@Html.ActionLink("Home", "Index", "Home")