@{
    Layout = "_Layout";
}

@using Inventory.ViewModels
@model LoginViewModel

<div class="headers">
    <h1>Log In</h1>
</div>

<div class="treats">
    @using (Html.BeginForm())
    {
        <h4>Email: @Html.TextBoxFor(m => m.Email)</h4>
        <h4>Password: @Html.PasswordFor(m => m.Password)</h4>
        <input type="submit" value="Log In" class="btn btn-primary" />
    }
</div>