@{
    Layout = "_Layout";
}

@using Inventory.ViewModels

@model RegisterViewModel

<div class="headers">
    <h1>Create Account</h1>
</div>

<div class="treats">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <h4>Email: @Html.TextBoxFor(user => user.Email)</h4>
        <h4>Password: @Html.PasswordFor(user => user.Password)</h4>
        <h4>Confirm Password: @Html.PasswordFor(user => user.ConfirmPassword)</h4>
        <input type="submit" value="Register" class="btn btn-primary" />
    }
</div>
