@{
    Layout = "_Layout";
}

@model Inventory.Models.Flavor

<div class="headers">
    <h2>Add Treat</h2>
</div>
<div class="flavors">
    <h4>Add Treat To: @Html.DisplayFor(model => model.FlavorDescription)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.FlavorId)

        <h4>Treats: @Html.DropDownList("TreatId")</h4>

        <input type="submit" value="Save" class="btn btn-primary" />
    }
</div>
