@{
    Layout = "_Layout";
}

@model Inventory.Models.Flavor

<div class="headers">
    <h1>Add Flavor</h1>
</div>
<div class="flavors">
    @using (Html.BeginForm())
    {
        <h4>Flavor Description: @Html.TextBoxFor(model => model.FlavorDescription)</h4>

        <h4>Treats: @Html.DropDownList("TreatId")</h4>

        <input type="submit" value="Add Flavor" class="btn btn-primary" />
    }
</div>