@{
    Layout = "_Layout";
}

@model Inventory.Models.Flavor

<div class="headers">
    <h1>Delete Flavor</h1>
    <h3>Are you sure you want to delete this flavor?</h3>
    <hr />
</div>
<div class="flavors">
    <h3>Flavor Description: @Html.DisplayFor(model => model.FlavorDescription)</h3>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>
