@{
    Layout = "_Layout";
}

@model Inventory.Models.Flavor

<div class="headers">
    <h1>Edit</h1>
    <h3>Editing: @Html.DisplayFor(model => model.FlavorDescription)</h3>
</div>
<div class="flavors">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.FlavorId)

        <h4>Flavor Description: @Html.EditorFor(model => model.FlavorDescription)</h4>

        <h4>Treat: @Html.DropDownList("TreatId")</h4>

        <input type="submit" value="Save" class="btn btn-primary" />
    }
</div>
