@{
  Layout = "_Layout";
}

@using Inventory.Models
@model IEnumerable<Inventory.Models.Flavor>;

<div class="headers">
@if (User.Identity.IsAuthenticated)
{
    <h1>Hello @User.Identity.Name!</h1>
    <h4>Click on a flavor to see the details!</h4>
    <hr/>
}
else
{
   <h1>Hello Guest!</h1> 
   <h4>Click on a flavor to see the details!</h4>
   <h5></h5>
   <hr/>
}
</div>
<div class="flavors">
@if (@Model.Any())
{
    @foreach (Flavor flavor in Model)
    {
        <h4>@Html.ActionLink($"{flavor.FlavorDescription}","Details", new { id = flavor.FlavorId})</h4><br>
    }
} 
else
{
    <h4>No flavors have been added</h4>
}
<hr/>
</div>
<hr/>
<div class="treats">
@if (User.Identity.IsAuthenticated)
{
    <h4>@Html.ActionLink("Add Flavor", "Create", null, null, new {@class="btn btn-primary"})</h4>
}
else 
{
    <h4>Do you have flavors you'd like to add?</h4> 
    <h4>Click <strong>Register</strong> to create an account or <strong>Log in</strong> to sign in at the top.</h4>
}
</div>