body {
  background-image: url("https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFrZXJ5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
}
.navbar {
  background-color: #c5a387;
  border: solid #c19874;
  opacity: 0.8;
  padding: 1%;
}

.navbtn {
  background-color: #986f53;
  padding: 3%;
  border-radius: 10%;
  font-size: medium;
  margin-left: 5%;
}
.logoutbtn {
  background-color: darkcyan;
}
.navbtn:hover {
  background-color: darkcyan;
}
.logoutbtn:hover {
  background-color: #986f53;
}
.btn-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.headers {
  background-color: #c5a387;
  width: 55%;
  padding: 3%;
  opacity: 0.8;
  text-align: center;
}
.treats {
  background-color: #986f53;
  width: 55%;
  margin: 1% 0 1%;
  padding: 1%;
  opacity: 0.8;
}
.flavors {
  background-color: #c19874;
  width: 55%;
  padding: 1%;
  opacity: 0.8;
}
.btn-success {
  opacity: 0.6;
}
/* .headers h4 {
  text-align: center;
} */
